<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles/styles.min.css">
        <title>npm project</title>
    </head>
    <body>
        {{> header }}
        <p>Это {{ name }}, ему {{ age }}, чиллит</p>
        {{> sidebar }}
        {{> footer }}
        <script type="text/javascript" src="scripts/scripts.min.js"></script>
    </body>
</html>
