<footer class="footer">
    <input type="text" placeholder="Write something">
    <p class="text">This is <span>text</span></p>
    <img src="images/image.jpg" class="image">
    <div class="bg"></div>
    <a href="#" class="link">lol</a>
</footer>
